.follow-cursor {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    pointer-events: none;
    filter: blur(90px);
    background: radial-gradient(
            circle at center,
            rgba(155, 155, 155, 0.2),
            rgba(136, 90, 137, 0.3),
            rgba(255, 255, 255, 0.2)
    );
}
