@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply antialiased;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    color: white;
    background: linear-gradient(45deg, #000000, #2a2a2a, #000000);
    background-size: 400% 400%;
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: url('/fonts/JosefinSans-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
    }
}

@media (max-width: 600px) {
    h1, h2, h3 {
        text-align: center;
    }

    body {
        overflow: auto;
        padding: 0 12px;
        max-height: 90vh;
    }

    .faint-image {
        display: none;
    }
}
