@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: white;
  background-image: url('../../public/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  padding: 0 1rem;
}

.header-container,
.about-container,
.projects-container {
  flex-grow: 1;
}

.footer-img {
  width: 14px;
  height: 14px;
}

.hover-effect:hover {
  filter: drop-shadow(3px 3px #cc8983) drop-shadow(-3px -3px #3a797e);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/** Fonts */
@layer base {
  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  body {
    max-height: 90vh;
    background-size: 150% 150%;
  }
}
